@import "../../../assets/styles/bem.mixins";
@import "../../../assets//styles/neumorphic";

.post-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
}