@import "../../../assets/styles/bem.mixins";

.wrapper {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include element(search) {
    flex: 1 1 auto;
    margin: 0.313rem 0;
  }

  @include element(sort) {
    flex: 0 1 auto;
    margin: 0.313rem 0;
  }
}